.square {
	float: left;
	height:150px; 
	width: 150px; 
	border: 1px solid #000;
	text-align: center;
	font-size: 110px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.top {
	border-top: 0;	
}

.right {
	border-right: 0;
}

.bottom {
	border-bottom: 0;
}

.left {
	border-left: 0;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}
